extends base.pug


block content
    div#videoContainer(data-videoid=video._id data-isfav=isFav)
        video(src=video.fileUrl crossorigin)
        div#videoControls.videoControls
            div.videoControls__play
                span#play.videoControls__playBtn
                    i.fas.fa-play
                div.videoControls__time
                    span#currenTime 00:00
                    span  / 
                    span#totalTime 00:00
            input(type="range",step="1", value="0", min="0")#timeline.videoControls__timeline
            div.videoControls__volume
                input(type="range",step="0.1", value=0.5, min="0", max="1")#volume
                span#mute
                    i.fas.fa-volume-up
            div
                span#fullScreen
                    i.fas.fa-expand
    div.video__data
        div.video__data__section
            p.video__title=video.title
            if isFav==="true"
                i(style="color:red").fa-solid.fa-heart
            else 
                i(style="color:#adadad").fa-solid.fa-heart
        small.video__owner Uploaded by 
            a(href=`/users/${video.owner._id}`)=video.owner.name
        small.video__createdAt=new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
        div.video__description
            p #{video.description}
        br
        if String(video.owner._id) === String(loggedInUser._id)
            a(href=`${video.id}/edit`) Edit Video &rarr;
            br
            a(href=`${video.id}/delete`) Delete Video &rarr;
    div.video__comments
        ul.video__comment__list 
            each comment in video.comments.reverse()
                li.video__comment(data-id=comment._id)
                    div.video__comment__text
                        i.fas.fa-comment
                        span.video__comment__text__writer #{comment.owner.email}
                        span  #{comment.text}
                    div.video__comment__delete#deleteBtn
                        if String(comment.owner._id) === String(loggedInUser._id)
                            button.deleteBtn X
    if loggedIn
        div.video__add-comments
            form.video__comment-form#commentForm
                textarea(rows="2" maxlength="140" placeholder="Write a nice commment...")
                button Add Comment
        
block scripts
    script(src="/static/js/videoPlayer.js") 
    script(src="/static/js/commentSection.js") 